SENTINELPAY_API_BASE=http://localhost:8080
SENTINELPAY_API_KEY=
SENTINELPAY_DB_PASSWORD=
SENTINELPAY_RABBITMQ_PASSWORD=
SENTINELPAY_MOCK_BANK_WEBHOOK_SECRET=
SENTINELPAY_SANDBOX_WALLET_WEBHOOK_SECRET=
SENTINELPAY_ACQUIRER_WEBHOOK_SECRET=
SENTINELPAY_GRAFANA_ADMIN_PASSWORD=
